@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
  }
}

.post-image {
  transition: transform 0.3s ease;
}

.post-image:hover {
  transform: scale(1.2);
}

.post-button {
  transition: transform 0.3s ease;
}

.post-button:hover {
  transform: scale(1.1);
}
